<div class="row mt-5">
  <div class="col-md-12 text-center">
    <div class="site-block-27">
      <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&lt;&lt;</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% endif %}

        {% for page in page_obj.paginator %}
          {% if page_obj.number == page.number %}
          <li><a class="active" href="?page={{ page.number }}">{{ page.number }}</a></li>
          {% else %}
          <li><a href="?page={{ page.number }}">{{ page.number }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.number|add:'1' }}">&gt;</a></li>
          <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>